<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<section>
  <h2>Posts</h2>
  <%= @posts.inspect %>
  <% @posts.each do |post| %>
    <div>
      <h3> <%= post.title %> </h3>
      <p> <%= post.body %> </p>
    </div>
  <% end %>
</section>

<section>
  <h2>Skills</h2>
  <%= @skills.inspect %>
  <% @skills.each do |skill| %>
    <p> <%= skill.title %> </p>
  <% end %>
</section>